.navbar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px; 
}

.navbar a {
  color: gray;
  font-size: 25px;
  text-decoration: none;
  margin: 0 15px; 
}

.logo {
  display: flex; 
  align-items: center;
}

.logo img {
  width: 150px; 
  margin-right: 10px; 
}

.btn {
  width: 150px;
  height: 30px;
  color: white;
  background-color: #7f56d9;
  border-radius: 7px;
  border-color: white;
}
